

  <div class="col-md-6">
    <div class="card " style="color: aqua;">
      <div class="card-header card-header-primary card-header-icon" >
          <div class="card-icon">
            <span class="material-icons">
              add
              </span>
          </div>
          <h5 class="card-title"><small>Crear una ficha para un cliente</small>  </h5>
        </div>
      <div class="card-body ">
        <form method="#" action="#" >
          <div class="row">
       
              <div class="col-sm-6">
                <mat-form-field class="example-full-width">
                  <input matInput name="diagnostico" placeholder="diagnostico" type="text" [(ngModel)]="data.diagnostico" required>
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field class="example-full-width">
                  <input matInput name="observacion" placeholder="observacion" type="text" [(ngModel)]="data.observacion" required>
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field class="example-full-width">
                  <input matInput name="idEmpleado" placeholder="idEmpleado" type="number" [(ngModel)]="data.idEmpleado" required>
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field class="example-full-width">
                  <input matInput name="idCliente" placeholder="idCliente" type="number" [(ngModel)]="data.idCliente" required>
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field class="example-full-width">
                  <input matInput name="idTipoProducto" placeholder="idTipoProducto" type="number" [(ngModel)]="data.idTipoProducto" required>
                </mat-form-field>
              </div>
         
          </div>

        </form>
      </div>
      <div class="card-footer ">
        <div class="row">
          <div class="col-md-12">

            <button mat-raised-button class="btn btn-fill btn-primary mx-2" (click)='agregarFichaClinica()' >Crear una nueva ficha</button>
            <button mat-raised-button class="btn btn-fill btn-secondary mx-2" [routerLink]="['/fichaclinica']">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>