<style>
    .reservasTitle{
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }
    .reservasContent{
        padding: 0 2rem;
    }
    .tableContainer{
        width: 100vw;
        overflow-x: scroll;
    }
    table {
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<main class="reservasContent">
    
    <h2 class="reservasTitle">Reservas</h2>
    Doctor : <select [(ngModel)]="selectedDoctorId">
        <option *ngFor="let doctor of doctors" [value]="doctor.idPersona">
            Dr. {{doctor.nombre}}  {{doctor.apellido}} 
        </option>
    </select><br/><br/>
    Fecha desde: <input ngDefaultControl type="date" [(ngModel)]="fechaDesdeReserva"/><br/><br/>
    <!-- Fecha hasta: <input ngDefaultControl type="date" [(ngModel)]="fechaHastaReserva"/><br/><br/> -->
    <button (click)="getDoctorAgenda()" class="p-10 text-white br-4 bg-primary">Ver disponibilidad</button>
</main>
<section class="reservasContent tableContainer">
    <table class="table" class="mt-10">
        <tr>
            <th>Día</th>
            <th>Hora de inicio</th>
            <th>Hora de fin</th>
            <th>Observacion</th>
            <th>Asistio</th>
            <th>Esta reservado</th>
            <th></th>
        </tr>
        <tr *ngFor="let reservation of reservations">
            <td>{{reservation.fecha}}</td>
            <td>{{reservation.horaInicio}}</td>
            <td>{{reservation.horaFin}}</td>
            <td>{{reservation.observacion}}</td>
            <td>{{reservation.flagAsistio}}</td>
            <td>{{reservation.flagReserva}}</td>
            <td *ngIf=" reservation.flagReserva === 'No'; else reservedClientInfo ">
                <select [(ngModel)]="selectedPatientId">
                    <option *ngFor="let patient of patients" [value]="patient.id">
                        {{patient.fullName}}
                    </option>
                </select>
                <button class="p-10 text-white br-4 bg-primary" (click)="reservate(reservation)">Reservar</button>
            </td>
            <ng-template #reservedClientInfo>
                <td>
                    {{reservation.idCliente.nombreCompleto}}
                    <button class="p-10 text-white br-4 bg-red" (click)="deleteReservation(reservation.idReserva)">Cancelar reserva</button>
                </td>
            </ng-template>
        </tr>
    </table>
</section>