<div class="main-content">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card ">
            
            <div class="card-body ">
              <form method="#" action="#" >
                <div class="row">
                  <div class="col-sm-6">
                    <mat-form-field class="example-full-width">
                      <mat-select placeholder="Dia" name="dia"  [(ngModel)]="data.dia" >
                        <mat-option *ngFor="let d of dias" [value]="d.pos">
                          {{ d.display }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-6">
                    <mat-form-field class="example-full-width">
                      <input matInput name="horaAperturaCadena" placeholder="Hora de apertura" type="number" [(ngModel)]="data.horaAperturaCadena">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <mat-form-field class="example-full-width">
                      <input matInput name="horaCierreCadena" placeholder="Hora de Cierre" type="number" [(ngModel)]="data.horaCierreCadena">
                    </mat-form-field>
                  </div>
                  <div class="col-sm-6">
                    <mat-form-field class="example-full-width">
                      <input matInput name="intervaloMinutos" placeholder="Minutos" type="number" [(ngModel)]="data.intervaloMinutos">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">

                    <mat-form-field class="example-full-width">
                      <mat-select placeholder="Empleado" name="idEmpleado"  [(ngModel)]="data.idEmpleado" >
                        <mat-option *ngFor="let em of empleados" [value]="em.idPersona">
                          {{ em.idPersona +' - ' + em.nombre }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
               
              </form>
            </div>
            <div class="card-footer ">
              <div class="row">
                <div class="col-md-12">

                  <button mat-raised-button class="btn btn-fill btn-primary mx-2" (click)='agregarHorario()' >Guardar</button>
                  <button mat-raised-button class="btn btn-fill btn-secondary mx-2" [routerLink]="['/paciente']">Cancelar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>