
<div class="main-content">
    <div class="container-fluid">
<!--FILTRO ENTRE FECHAS-->
<div class="row" >
        <div class="col-md-2">
          <div class="card ">
            <div class="card-header card-header-primary card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">search</i>
                </div>
                <h5 class="card-title"><small>Filtrar entre fechas</small></h5>
              </div>
            <div class="card-body ">
              <form method="#" action="#" >
                <div class="row">
                 
                  <div class="col-sm-12">
                    <mat-form-field >
                      <input matInput name="fechaDesdeCadena" placeholder="fechaDesdeCadena" type="number" [(ngModel)]="fechas.fechaDesdeCadena" required>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <mat-form-field >
                      <input matInput name="fechaHastaCadena" placeholder="fechaHastaCadena" type="number"[(ngModel)]="fechas.fechaHastaCadena"  required>
                    </mat-form-field>
                  </div>
                </div>
                
               
              </form>
            </div>
            <div class="card-footer ">
              <div class="row">
                <div class="col-md-12">

                  <button mat-raised-button class="btn btn-fill btn-primary mx-2" (click)='getFichasClinicasEntreFechas()' >Filtrar</button>

                </div>
              </div>
            </div>
          </div>
        </div>
 <!--FILTRO POR ID DE PACIENTES--> 
        <div class="col-md-2">
            <div class="card ">
              <div class="card-header card-header-primary card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">search</i>
                  </div>
                  <h5 class="card-title"><small>Fichas del paciente por id</small></h5>
                </div>
              <div class="card-body ">
                <form method="#" action="#" >
                  <div class="row">
                   
                    <div class="col-sm-12">
                      <mat-form-field class="example-full-width">
                        <input matInput name="idPaciente" placeholder="idPaciente" type="number" [(ngModel)]="idPaciente" required>
                      </mat-form-field>
                    </div>
                  </div>
                 
                </form>
              </div>
              <div class="card-footer ">
                <div class="row">
                  <div class="col-md-12">
  
                    <button mat-raised-button class="btn btn-fill btn-primary mx-2" (click)='getFichaClinicaPacienteId()' >Filtrar</button>
  
                  </div>
                </div>
              </div>
            </div>
          </div>
 <!--FILTRO POR ID DE idEmpleado--> 
        <div class="col-md-2">
            <div class="card ">
              <div class="card-header card-header-primary card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">search</i>
                  </div>
                  <h5 class="card-title"><small>Fichas del paciente por id de fisioterapeuta</small></h5>
                </div>
              <div class="card-body ">
                <form method="#" action="#" >
                  <div class="row">
                   
                    <div class="col-sm-12">
                      <mat-form-field class="example-full-width">
                        <input matInput name="idEmpleado" placeholder="idEmpleado" type="number" [(ngModel)]="idEmpleado" required>
                      </mat-form-field>
                    </div>
                  </div>
                 
                </form>
              </div>
              <div class="card-footer ">
                <div class="row">
                  <div class="col-md-12">
  
                    <button mat-raised-button class="btn btn-fill btn-primary mx-2" (click)='getFichaClinicaFisioterapeutaId()' >Filtrar</button>
  
                  </div>
                </div>
              </div>
            </div>
          </div>
 <!--FILTRO POR ID DE subcategoria--> 
        <div class="col-md-2">
            <div class="card ">
              <div class="card-header card-header-primary card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">search</i>
                  </div>
                  <h5 class="card-title"><small>Fichas del paciente por id de subcategoría</small> </h5>
                </div>
              <div class="card-body ">
                <form method="#" action="#" >
                  <div class="row">
                   
                    <div class="col-sm-12">
                      <mat-form-field class="example-full-width">
                        <input matInput name="idTipoProducto" placeholder="idTipoProducto" type="number" [(ngModel)]="idTipoProducto" required >
                      </mat-form-field>
                    </div>
                  </div>
                 
                </form>
              </div>
              <div class="card-footer ">
                <div class="row">
                  <div class="col-md-12">
  
                    <button mat-raised-button class="btn btn-fill btn-primary mx-2" (click)='getFichaClinicaSubCategoriaId()' >Filtrar</button>
  
                  </div>
                </div>
              </div>
            </div>
          </div>
 <!--Editar--> 
        <div class="col-md-3">
            <div class="card " style="color: aqua;">
              <div class="card-header card-header-primary card-header-icon" >
                  <div class="card-icon">
                    <span class="material-icons">
                      edit
                      </span>
                  </div>
                  <h5 class="card-title"><small>Editar obs de Ficha</small>  </h5>
                </div>
              <div class="card-body ">
                <form method="#" action="#" >
                  <div class="row">
                   
                    <div class="col-sm-12">
                      <mat-form-field class="example-full-width">
                        <input matInput name="idFichaClinica" placeholder="idFichaClinica" type="number" [(ngModel)]="idFichaClinica" required>
                      </mat-form-field>
                    </div>
                    <div class="col-sm-12">
                      <mat-form-field class="example-full-width">
                        <input matInput name="observacion" placeholder="observacion" type="text" [(ngModel)]="observacion" required>
                      </mat-form-field>
                    </div>
                  </div>

                </form>
              </div>
              <div class="card-footer ">
                <div class="row">
                  <div class="col-md-12">
  
                    <button mat-raised-button class="btn btn-fill btn-primary mx-2" (click)='editarFichaClinica()' >Actualizar</button>
  
                  </div>
                </div>
              </div>
            </div>
          </div>

<app-ficha-clinica-agregar></app-ficha-clinica-agregar>


        </div>
    </div>
  </div>

<!--TABLA CON FILTROS APLICADOS-->
  <div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                  <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">assignment</i>
                    </div>
                    <h4 class="card-title">Lista de fichas clinicas</h4>
                    
                  </div>
                    <div class="card-body">
                        <div class="toolbar">
                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                        </div>
                        <div class="material-datatables">
                          <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                <thead>
                                    <tr>
                                      <th>{{ dataTable.headerRow[0] }}</th>
                                      <th>{{ dataTable.headerRow[1] }}</th>
                                      <th>{{ dataTable.headerRow[2] }}</th>
                                      <th>{{ dataTable.headerRow[3] }}</th>
                                      <th>{{ dataTable.headerRow[4] }}</th>
                                      <th>{{ dataTable.headerRow[5] }}</th>
                                      <th>{{ dataTable.headerRow[6] }}</th>
                                      <th>{{ dataTable.headerRow[7] }}</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>{{ dataTable.headerRow[0] }}</th>
                                        <th>{{ dataTable.headerRow[1] }}</th>
                                        <th>{{ dataTable.headerRow[2] }}</th>
                                        <th>{{ dataTable.headerRow[3] }}</th>
                                        <th>{{ dataTable.headerRow[4] }}</th>
                                        <th>{{ dataTable.headerRow[5] }}</th>                                 
                                        <th>{{ dataTable.headerRow[6] }}</th>                                 
                                        <th>{{ dataTable.headerRow[7] }}</th>                                 
                                    </tr>
                                </tfoot>
                                <tbody>
                                  <tr *ngFor="let c of fichaClinica">
                                    <td>{{c.idFichaClinica}}</td>
                                    <td>{{c.motivoConsulta}}</td>
                                    <td>{{c.diagnostico}}</td>
                                    <td>{{c.observacion}}</td>
                                    <td>{{c.idEmpleado.idPersona}}</td>
                                    <td>{{c.idCliente.idPersona}}</td>
                                    <td>{{c.idTipoProducto.idTipoProducto}}</td>
                                    <td>{{c.idTipoProducto.idCategoria.idCategoria}}</td>
                                  </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
        <!-- end row -->
    </div>
</div>
