
<router-outlet></router-outlet>

<!--<h1 style="text-align:center">
    Bienvenido 
  </h1>
  
  <div style="text-align:center">
    <a routerLink="/pais">Lista de paises</a><br/>
    <a routerLink="/nuevopais">Agregar pais</a><br/>
    <a routerLink="/categorias">Lista categorias</a><br/>
    <a routerLink="/nuevacategorias">Agregar categorias</a><br/>
    <a routerLink="/subcategoria">Subcategorias</a><br/>
    <a routerLink="/paciente">Lista Pacientes</a><br/>
    <a routerLink="/servicios">Servicios</a><br/>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>-->
  