<full-page-modal 
    title="Pacientes"
    btnAddText="Nuevo paciente"
    (added)="showNewClientModal()"
    (back)="back.emit()"
>
    <div *ngFor="let patient of patients" class="bb p-15 row justify-between">
        <div>
            <div *ngIf="patient.document" class="text-grey-5 fs-12">CI/RUC {{patient.document}}</div>
            <div class="m-v-5"><strong>{{patient.fullName}}</strong></div>
            <div>{{patient.email}}</div>
            <div class="text-grey-5">{{patient.phone}}</div>
        </div>
        <div>
            <button class="row p-5 text-grey-5" 
                (click)="showEditPatientModal(patient)"
            >
                <i class="fas fa-user-edit"></i>
                <div class="ml-5 underline">Editar</div>
            </button>
        </div>
    </div>

    <back-modal 
        ngDefaultControl
        [title]="editingModal?'Modificar paciente '+selectedPatient.id:'Nuevo paciente'"
        [(ngModel)]="showAddModal"
        [canConfirm]="isValidSelectedPatient"
        [confirmButtonText]="editingModal?'Modificar':'Crear'"
        (confirmed)="editingModal?editPatient():createPatient()"
    >
        <!-- NAME INPUT -->
        <titled-input 
            ngDefaultControl 
            title="Nombre" 
            [(ngModel)]="selectedPatient.name">
        </titled-input>
        <!-- LAST NAME INPUT -->
        <titled-input 
            ngDefaultControl 
            title="Apellido" 
            [(ngModel)]="selectedPatient.lastName">
        </titled-input>
        <!-- EMAIL INPUT -->
        <titled-input 
            ngDefaultControl 
            title="Email" 
            [(ngModel)]="selectedPatient.email">
        </titled-input>
        <!-- PHONE INPUT -->
        <titled-input 
            ngDefaultControl 
            title="Celular" 
            [(ngModel)]="selectedPatient.phone">
        </titled-input>
        <!-- DOCUMENT INPUT -->
        <titled-input 
            ngDefaultControl 
            title="CI/RUC" 
            [(ngModel)]="selectedPatient.document">
        </titled-input>
        <!-- BIRTHDAY INPUT -->
        <titled-input 
            ngDefaultControl 
            title="Fecha de nacimiento" 
            type="date"
            [(ngModel)]="selectedPatient.birthday">
        </titled-input>
        <!-- TYPE INPUT -->
        <titled-input 
            ngDefaultControl 
            title="Tipo de persona" 
            [(ngModel)]="selectedPatient.type">
        </titled-input>

    </back-modal>

</full-page-modal>
