<div *ngIf="idSubCategoria; else sinSubCategoria">
    <h2>Servicios de subcategoria {{idSubCategoria}}</h2>
</div>
<ng-template #sinSubCategoria>
    <h2>Buscar servicios</h2><br/>
    Nombre del servicio: <input [(ngModel)]="nuevoServicio.nombre" >
    <button (click)="buscar()">Buscar</button><br/>
    {{mensaje}}
</ng-template>
<div *ngIf="!hayServicios">
    <p>No hay servicios para la subCategoria seleccionada :(</p>
</div>
<div *ngIf="servicios && servicios.length">
    <table border="1">
        <tr>
            <td>Id</td>
            <td>Nombre</td>
            <td>Descripcion</td>
        </tr>
        <tr *ngFor="let s of servicios">
            <td>{{s.idPresentacionProducto}}</td>
            <td>{{s.nombre}}</td>
            <td>{{s.descripcion}}</td>
        </tr>
    </table>
</div>
