<div *ngIf="idCategoria; else sinCategoria">
  <div>
    Nombre de la nueva subcategoria <input  [(ngModel)]="nuevaSubcategoria.descripcion">
    <br>
     <button  (click)="guardar()">Guardar</button>
    <br/>
    {{mensaje}}
  </div>
  <p >Subcategorias de la categoria {{idCategoria}} </p>
</div>
<ng-template #sinCategoria>
  Descripcion de la subcategoria: <input  [(ngModel)]="nuevaSubcategoria.descripcion">
    <br>
     <button (click)="buscar()">Buscar</button>
    <br/>
     {{mensaje}}
</ng-template>

<div *ngIf="subcategorias && subcategorias.length>0">
  <table border="1">
    <tr>
      <td>Id</td>
      <td>Descripcion</td>
    </tr>
    <tr *ngFor="let s of subcategorias">
      <td>{{s.idTipoProducto}}</td>
      <td>{{s.descripcion}}</td>
    </tr>
  </table>
</div>
  